* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

#act-head {
  color: #070000;
  text-align: center;
  padding-bottom: 3.75rem;
  padding-top: 3rem;
  font-size: 5rem; }

.index-body {
  background: url(../images/sun.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; }

#container {
  display: inline-block;
  width: 100%;
  z-index: 20;
  background-color: black; }

#container ul {
  list-style: none;
  z-index: 20; }

#container ul li {
  background-color: rgba(0, 0, 0, 0.582);
  width: 9.375rem;
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  float: left;
  color: white;
  font-size: 1.1875rem;
  z-index: 20; }

#container ul li:hover {
  background-color: rgba(255, 238, 0, 0.829);
  z-index: 20; }

#container ul ul {
  display: none;
  z-index: 20; }

#container ul li:hover > ul {
  display: block;
  z-index: 20; }

header {
  background-image: url(../images/trial.jpg);
  width: 100%;
  height: 100vh; }

#intro {
  color: white;
  text-align: center;
  font-size: 6rem;
  padding-top: 18rem; }

.link-style {
  text-decoration: none;
  color: white; }

footer {
  background: rgba(0, 0, 0, 0.582);
  margin: 0.625rem;
  height: 6.75rem;
  border-radius: 0.3125rem;
  text-align: center; }

footer p {
  color: white;
  font-size: 4rem;
  padding-top: 20px; }

.top {
  color: white; }

i {
  float: left;
  position: fixed;
  left: 1em;
  bottom: 0.5em;
  font-size: 3em; }

#card-container .card-1, #card-container .card-2, #card-container .card-3, #card-container .card-4, #card-container .card-5, #card-container .card-6 {
  position: relative;
  width: 50rem;
  height: 25rem;
  background: black;
  overflow: hidden;
  margin-top: 3em;
  margin-left: 4em; }
#card-container .img1 {
  width: 100%;
  height: 26rem; }
#card-container .img-2 {
  width: 100%;
  height: 26rem; }
#card-container .img-3 {
  width: 100%;
  height: 26rem; }
#card-container .img-4 {
  width: 100%;
  max-width: 100%; }
#card-container .img-5 {
  margin: 0;
  max-width: 100%; }
#card-container .img-6 {
  margin: 0;
  max-width: 100%; }
#card-container input,
#card-container .toggle-1, #card-container .toggle-2, #card-container .toggle-3, #card-container .toggle-4, #card-container .toggle-5, #card-container .toggle-6 {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 1.25rem;
  right: 1.25rem;
  outline: none;
  z-index: 10; }
#card-container input {
  opacity: 0; }
#card-container .toggle-1, #card-container .toggle-2, #card-container .toggle-3, #card-container .toggle-4, #card-container .toggle-5, #card-container .toggle-6 {
  pointer-events: none;
  border-radius: 50%;
  background: black;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.625rem;
  box-shadow: 0 0 0 0px #ffffff;
  transition: 0.5s;
  color: white; }
#card-container input:checked ~ .toggle-1 {
  box-shadow: 0 0 0 55rem #ffffff7c;
  transform: rotate(225deg); }
#card-container .content-1, #card-container .content-2, #card-container .content-3, #card-container .content-4, #card-container .content-5, #card-container .content-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0; }
#card-container input:checked ~ .content-1 {
  opacity: 1;
  transition-delay: 0.5s; }
#card-container div h2 {
  margin-bottom: 0.3125rem;
  font-size: 2rem; }
#card-container div p {
  margin: 0;
  font-size: 1.5em;
  padding-top: 30px; }
#card-container input:checked ~ .toggle-2 {
  box-shadow: 0 0 0 55rem #ffffffc0;
  transform: rotate(225deg); }
#card-container .imgbox-2,
#card-container .content-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
#card-container input:checked ~ .content-2 {
  opacity: 1;
  transition-delay: 0.5s; }
#card-container input {
  opacity: 0; }
#card-container input:checked ~ .toggle-3 {
  box-shadow: 0 0 0 51rem #ffffff9f;
  transform: rotate(225deg); }
#card-container .imgbox-3,
#card-container .content-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
#card-container input:checked ~ .content-3 {
  opacity: 1;
  transition-delay: 0.5s; }
#card-container input {
  opacity: 0; }
#card-container input:checked ~ .toggle-4 {
  box-shadow: 0 0 0 51rem #ffffff9f;
  transform: rotate(225deg); }
#card-container .imgbox-4,
#card-container .content-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
#card-container input:checked ~ .content-4 {
  opacity: 1;
  transition-delay: 0.5s; }
#card-container input {
  opacity: 0; }
#card-container input:checked ~ .toggle-5 {
  box-shadow: 0 0 0 55.25rem #ffffffc2;
  transform: rotate(225deg); }
#card-container .imgbox-5,
#card-container .content-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
#card-container input:checked ~ .content-5 {
  opacity: 1;
  transition-delay: 0.5s; }
#card-container input {
  opacity: 0; }
#card-container input:checked ~ .toggle-6 {
  box-shadow: 0 0 0 51rem #ffffff9f;
  transform: rotate(225deg); }
#card-container .imgbox-6,
#card-container .content-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
#card-container input:checked ~ .content-6 {
  opacity: 1;
  transition-delay: 0.5s; }

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .contact-form {
    flex-direction: column; }

  .msg textarea {
    height: 5rem; }

  .input-fields,
  .msg {
    width: 100%; }

  .masonry {
    display: block !important;
    grid-gap: 5px !important; }

  #act-head {
    color: #070000;
    text-align: center;
    padding-bottom: 3.75rem;
    padding-top: 3rem;
    font-size: 100%; }

  #container ul li {
    background-color: rgba(0, 0, 0, 0.582);
    width: 4.375rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    float: left;
    color: white;
    font-size: 1rem;
    z-index: 20; }

  #intro {
    color: white;
    text-align: center;
    font-size: 4rem;
    padding-top: 8rem; }

  #card-container .card-1, #card-container .card-2, #card-container .card-3, #card-container .card-4, #card-container .card-5, #card-container .card-6 {
    position: relative;
    width: 20rem;
    height: 25rem;
    background: black;
    overflow: hidden;
    margin-top: 3em;
    margin-left: 0px; }

  footer p {
    color: white;
    font-size: 1rem;
    padding-top: 20px; } }
#card-container {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, auto);
  grid-template-areas: "card1 card1" "card2 card2" "card3 card3" "card4 card4" "card5 card5" "card6 card6"; }

.card-1 {
  grid-area: card1; }

.card-2 {
  grid-area: card2; }

.card-3 {
  grid-area: card3; }

.card-4 {
  grid-area: card4; }

.card-5 {
  grid-area: card5; }

.card-6 {
  grid-area: card6; }

.con-body {
  background: url(../images/sunset.jpg) no-repeat top center;
  background-size: cover;
  height: 100vh; }

.con-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  padding: 0 1.25rem; }

.contact-form {
  max-width: 40.375rem;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 1.875rem;
  border-radius: 0.3125rem;
  display: flex;
  box-shadow: 0,0,0.625rem white;
  height: 30rem; }

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%; }

.input-fields,
.msg {
  width: 48%; }

.input-fields .con-input,
.msg textarea {
  margin: 0.625rem 0;
  background: transparent;
  border: 0;
  border-bottom: 0.125rem solid #c5ecfd;
  padding: 0.625rem;
  color: #c5ecfd;
  width: 100%; }

.msg textarea {
  height: 13.25rem; }

.con-btn {
  background: #39b7dd;
  text-align: center;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase; }

::-webkit-input-placeholder {
  color: #c5ecfd; }

::-moz-input-placeholder {
  color: #c5ecfd; }

.masonry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 20rem);
  grid-gap: 1rem; }
  .masonry img {
    width: 100%;
    height: 100%;
    z-index: -5; }

.gal-body {
  background: url(../../images/gal-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

/*# sourceMappingURL=main.css.map */
