* {
  margin: 0;
  padding: 0; }

#container {
  margin-left: 57rem;
  display: inline-block;
  position: fixed;
  z-index: 1; }

#container ul {
  list-style: none; }

#container ul li {
  background-color: rgba(0, 0, 0, 0.582);
  width: 9.375rem;
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  float: left;
  color: white;
  font-size: 1.1875rem; }

#container ul li:hover {
  background-color: rgba(0, 0, 0, 0.747); }

#container ul ul {
  display: none; }

#container ul li:hover > ul {
  display: block; }

header {
  background-image: url(../images/trial.jpg);
  width: 100%;
  height: 100vh; }

#intro {
  color: #ff7b00;
  text-align: center;
  font-size: 6rem;
  text-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.767);
  padding-top: 20rem; }

.gal-body {
  background: url(../images/gal-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 62.5rem;
  background-attachment: fixed;
  color: white;
  font-family: 'Allerta Stencil', sans-serif; }

.slideshow1 {
  margin: 0 auto;
  height: 33.75rem;
  box-sizing: border-box;
  margin-top: 5em; }

.gal-content1 {
  margin: auto;
  width: 11.875rem;
  perspective: 62.5rem;
  position: relative;
  padding-top: 5rem; }

.carrousel1 {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d; }

.carrousel1:hover {
  animation-play-state: paused;
  cursor: pointer; }

.carrousel1 figure {
  width: 100%;
  height: 7.5rem;
  border: 0.0625rem solid #4d444d;
  overflow: hidden;
  position: absolute; }

.gal-content1 figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(18.75rem); }

.gal-content1 figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(18.75rem); }

.gal-content1 figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(18.75rem); }

.gal-content1 figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(18.75rem); }

.gal-content1 figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(18.75rem); }

.shadow1 {
  position: absolute;
  box-shadow: 0px 0px 1.25rem 0px #000;
  border-radius: 0.125rem; }

.gal-content1 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel1 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel1 img:hover {
  transform: scale(1.2);
  transition: all 300ms; }

@keyframes rotar {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(680deg); } }
.slideshow2 {
  margin: 0 auto;
  height: 33.75rem;
  box-sizing: border-box;
  margin-top: 5em; }

.gal-content2 {
  margin: auto;
  width: 11.875rem;
  perspective: 62.5rem;
  position: relative;
  padding-top: 5em; }

.carrousel2 {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d; }

.carrousel2:hover {
  animation-play-state: paused;
  cursor: pointer; }

.carrousel2 figure {
  width: 100%;
  height: 7.5rem;
  border: 0.0625rem solid #4d444d;
  overflow: hidden;
  position: absolute; }

.gal-content2 figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(18.75rem); }

.gal-content2 figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(18.75rem); }

.gal-content2 figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(18.75rem); }

.gal-content2 figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(18.75rem); }

.gal-content2 figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(18.75rem); }

.shadow2 {
  position: absolute;
  box-shadow: 0px 0px 1.25rem 0px #000;
  border-radius: 0.125rem; }

.gal-content2 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel2 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel2 img:hover {
  transform: scale(1.2);
  transition: all 300ms; }

.slideshow3 {
  margin: 0 auto;
  height: 33.75rem;
  box-sizing: border-box;
  margin-top: 5em; }

.gal-content3 {
  margin: auto;
  width: 11.875rem;
  perspective: 62.5rem;
  position: relative;
  padding-top: 5rem; }

.carrousel3 {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d; }

.carrousel3:hover {
  animation-play-state: paused;
  cursor: pointer; }

.carrousel3 figure {
  width: 100%;
  height: 7.5rem;
  border: 0.0625rem solid #4d444d;
  overflow: hidden;
  position: absolute; }

.gal-content3 figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(18.75rem); }

.gal-content3 figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(18.75rem); }

.gal-content3 figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(18.75rem); }

.gal-content3 figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(18.75rem); }

.gal-content3 figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(18.75rem); }

.shadow3 {
  position: absolute;
  box-shadow: 0px 0px 1.25rem 0px #000;
  border-radius: 0.125rem; }

.gal-content3 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel3 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel3 img:hover {
  transform: scale(1.2);
  transition: all 300ms; }

.slideshow4 {
  margin: 0 auto;
  height: 33.75rem;
  box-sizing: border-box;
  margin-top: 5em; }

.gal-content4 {
  margin: auto;
  width: 11.875rem;
  perspective: 62.5rem;
  position: relative;
  padding-top: 5rem; }

.carrousel4 {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d; }

.carrousel4:hover {
  animation-play-state: paused;
  cursor: pointer; }

.carrousel4 figure {
  width: 100%;
  height: 7.5rem;
  border: 0.0625rem solid #4d444d;
  overflow: hidden;
  position: absolute; }

.gal-content4 figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(18.75rem); }

.gal-content4 figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(18.75rem); }

.gal-content4 figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(18.75rem); }

.gal-content4 figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(18.75rem); }

.gal-content4 figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(18.75rem); }

.shadow4 {
  position: absolute;
  box-shadow: 0px 0px 1.25rem 0px #000;
  border-radius: 0.125rem; }

.gal-content4 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel4 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel4 img:hover {
  transform: scale(1.2);
  transition: all 300ms; }

.slideshow5 {
  margin: 0 auto;
  height: 33.75rem;
  box-sizing: border-box;
  margin-top: 5em; }

.gal-content5 {
  margin: auto;
  width: 11.875rem;
  perspective: 62.5rem;
  position: relative;
  padding-top: 5rem; }

.carrousel5 {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d; }

.carrousel5:hover {
  animation-play-state: paused;
  cursor: pointer; }

.carrousel5 figure {
  width: 100%;
  height: 7.5rem;
  border: 0.0625rem solid #4d444d;
  overflow: hidden;
  position: absolute; }

.gal-content5 figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(18.75rem); }

.gal-content5 figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(18.75rem); }

.gal-content5 figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(18.75rem); }

.gal-content5 figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(18.75rem); }

.gal-content5 figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(18.75rem); }

.shadow5 {
  position: absolute;
  box-shadow: 0px 0px 1.25rem 0px #000;
  border-radius: 0.125rem; }

.gal-content5 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel5 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel5 img:hover {
  transform: scale(1.2);
  transition: all 300ms; }

.slideshow6 {
  margin: 0 auto;
  height: 33.75rem;
  box-sizing: border-box;
  margin-top: 5em; }

.gal-content6 {
  margin: auto;
  width: 11.875rem;
  perspective: 62.5rem;
  position: relative;
  padding-top: 5rem; }

.carrousel6 {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d; }

.carrousel6:hover {
  animation-play-state: paused;
  cursor: pointer; }

.carrousel6 figure {
  width: 100%;
  height: 7.5rem;
  border: 0.0625rem solid #4d444d;
  overflow: hidden;
  position: absolute; }

.gal-content6 figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(18.75rem); }

.gal-content6 figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(18.75rem); }

.gal-content6 figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(18.75rem); }

.gal-content6 figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(18.75rem); }

.gal-content6 figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(18.75rem); }

.shadow6 {
  position: absolute;
  box-shadow: 0px 0px 1.25rem 0px #000;
  border-radius: 0.125rem; }

.gal-content6 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel6 img {
  image-rendering: auto;
  transition: all infinite;
  width: 100%;
  height: 100%; }

.carrousel6 img:hover {
  transform: scale(1.2);
  transition: all 300ms; }

.gal-heading {
  text-align: center;
  font-size: 5rem; }

.card-1 {
  position: relative;
  width: 50rem;
  height: 25rem;
  background: black;
  overflow: hidden;
  margin-top: 3em;
  margin-left: 4em; }

.img1 {
  width: 100%;
  height: 26rem; }

.img-2 {
  width: 100%;
  height: 26rem; }

.img-3 {
  width: 100%;
  height: 26rem; }

.img-4 {
  width: 100%;
  max-width: 100%; }

.img-5 {
  margin: 0;
  max-width: 100%; }

.img-6 {
  margin: 0;
  max-width: 100%; }

input,
.toggle-1 {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 1.25rem;
  right: 1.25rem;
  outline: none;
  z-index: 10; }

input {
  opacity: 0; }

.toggle-1 {
  pointer-events: none;
  border-radius: 50%;
  background: black;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.625rem;
  box-shadow: 0 0 0 0px #ffffff;
  transition: 0.5s;
  color: white; }

input:checked ~ .toggle-1 {
  box-shadow: 0 0 0 51rem #ffffff7c;
  transform: rotate(225deg); }

.content-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0; }

input:checked ~ .content-1 {
  opacity: 1;
  transition-delay: 0.5s; }

.content-1 h2 {
  margin-bottom: 0.3125rem;
  font-size: 2rem; }

.content-1 p {
  margin: 0;
  font-size: 1.5em;
  padding-top: 30px; }

.card-2 {
  position: relative;
  width: 21.875rem;
  height: 25rem;
  background: black;
  overflow: hidden;
  margin-top: 3em;
  margin-left: 4em; }

input,
.toggle-2 {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 1.25rem;
  right: 1.25rem;
  outline: none;
  z-index: 10; }

input {
  opacity: 0; }

.toggle-2 {
  pointer-events: none;
  border-radius: 50%;
  background: black;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.625rem;
  box-shadow: 0 0 0 0px #ffffff;
  transition: 0.5s;
  color: white; }

input:checked ~ .toggle-2 {
  box-shadow: 0 0 0 31.25rem #ffffffc0;
  transform: rotate(225deg); }

.imgbox-2,
.content-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content-2 {
  padding: 1.25rem;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0; }

input:checked ~ .content-2 {
  opacity: 1;
  transition-delay: 0.5s; }

.content-2 h2 {
  margin-bottom: 0.3125rem;
  color: black;
  font-size: 2rem; }

.content-2 p {
  margin: 0;
  color: black;
  font-size: 1.5em;
  padding-top: 30px; }

.card-3 {
  position: relative;
  width: 50rem;
  height: 25rem;
  background: black;
  overflow: hidden;
  margin-top: 3em;
  margin-left: 4em; }

input,
.toggle-3 {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 1.25rem;
  right: 1.25rem;
  outline: none;
  z-index: 10; }

input {
  opacity: 0; }

.toggle-3 {
  pointer-events: none;
  border-radius: 50%;
  background: black;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.625rem;
  box-shadow: 0 0 0 0px #ffffff;
  transition: 0.5s;
  color: white; }

input:checked ~ .toggle-3 {
  box-shadow: 0 0 0 51rem #ffffff9f;
  transform: rotate(225deg); }

.imgbox-3,
.content-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content-3 {
  padding: 1.25rem;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0; }

input:checked ~ .content-3 {
  opacity: 1;
  transition-delay: 0.5s; }

.content-3 h2 {
  margin-bottom: 0.3125rem;
  color: black;
  font-size: 2rem; }

.content-3 p {
  margin: 0;
  color: black;
  font-size: 1.5em;
  padding-top: 30px; }

.card-4 {
  position: relative;
  width: 50rem;
  height: 25rem;
  background: black;
  overflow: hidden;
  margin-top: 3em;
  margin-left: 4em; }

input,
.toggle-4 {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 1.25rem;
  right: 1.25rem;
  outline: none;
  z-index: 10; }

input {
  opacity: 0; }

.toggle-4 {
  pointer-events: none;
  border-radius: 50%;
  background: black;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.625rem;
  box-shadow: 0 0 0 0px #ffffff;
  transition: 0.5s;
  color: white; }

input:checked ~ .toggle-4 {
  box-shadow: 0 0 0 51rem #ffffff9f;
  transform: rotate(225deg); }

.imgbox-4,
.content-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content-4 {
  padding: 1.25rem;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0; }

input:checked ~ .content-4 {
  opacity: 1;
  transition-delay: 0.5s; }

.content-4 h2 {
  margin-bottom: 0.3125rem;
  color: black;
  font-size: 2rem; }

.content-4 p {
  margin: 0;
  color: black;
  font-size: 1.5em;
  padding-top: 30px; }

.card-5 {
  position: relative;
  width: 21.875rem;
  height: 25rem;
  background: black;
  overflow: hidden;
  margin-top: 3em;
  margin-left: 4em; }

input,
.toggle-5 {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 1.25rem;
  right: 1.25rem;
  outline: none;
  z-index: 10; }

input {
  opacity: 0; }

.toggle-5 {
  pointer-events: none;
  border-radius: 50%;
  background: black;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.625rem;
  box-shadow: 0 0 0 0px #ffffff;
  transition: 0.5s;
  color: white; }

input:checked ~ .toggle-5 {
  box-shadow: 0 0 0 31.25rem #ffffffc2;
  transform: rotate(225deg); }

.imgbox-5,
.content-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content-5 {
  padding: 1.25rem;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0; }

input:checked ~ .content-5 {
  opacity: 1;
  transition-delay: 0.5s; }

.content-5 h2 {
  margin-bottom: 0.3125rem;
  color: black;
  font-size: 2rem; }

.content-5 p {
  margin: 0;
  color: black;
  font-size: 1.5em;
  padding-top: 30px; }

.card-6 {
  position: relative;
  width: 50rem;
  height: 25rem;
  background: black;
  overflow: hidden;
  margin-top: 3em;
  margin-left: 4em; }

input,
.toggle-6 {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 1.25rem;
  right: 1.25rem;
  outline: none;
  z-index: 10; }

input {
  opacity: 0; }

.toggle-6 {
  pointer-events: none;
  border-radius: 50%;
  background: black;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.625rem;
  box-shadow: 0 0 0 0px #ffffff;
  transition: 0.5s;
  color: white; }

input:checked ~ .toggle-6 {
  box-shadow: 0 0 0 51rem #ffffff9f;
  transform: rotate(225deg); }

.imgbox-6,
.content-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content-6 {
  padding: 1.25rem;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0; }

input:checked ~ .content-6 {
  opacity: 1;
  transition-delay: 0.5s; }

.content-6 h2 {
  margin-bottom: 0.3125rem;
  color: black;
  font-size: 2rem; }

.content-6 p {
  margin: 0;
  color: black;
  font-size: 1.5em;
  padding-top: 30px; }

#con-html {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

#con-body {
  font-family: 'ZCOOL KuaiLe', cursive;
  background: url(../images/bg.jpg) no-repeat top center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  font-size: 1rem; }

.con-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.con-us {
  width: 100%;
  max-width: 31.25rem;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 2.5rem 3.125rem;
  border-radius: 0.3125rem; }

.con-title {
  font-size: 2em;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.125rem;
  color: #ffc107;
  padding-bottom: 0.9375rem; }

.con-input {
  padding: 0 1.875rem; }

.con-input .con-items {
  width: 100%;
  padding-bottom: 0.9375rem; }

.con-input .con-items .con-label {
  display: block;
  font-size: 1em;
  color: white;
  text-transform: capitalize;
  padding-bottom: 0.3125rem; }

.con-input .con-items .input,
.con-input .con-items .text-area {
  background: transparent;
  border: 0;
  border: 0.0625rem solid white;
  width: 100%;
  padding: 0.5rem 0.625rem;
  font-size: 1em;
  color: white;
  border-radius: 0.1875rem; }

button {
  margin-left: 4.5rem;
  background: #ffc107;
  color: white;
  font-size: 1.25em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.3125rem;
  cursor: pointer;
  letter-spacing: 0.125rem; }

.link-style {
  text-decoration: none;
  color: white; }

#card-container {
  background-color: black;
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, auto);
  grid-template-areas: "card1 card1" "card2 card5" "card3 card3" "card4 card4" "card6 card6"; }

.card-1 {
  grid-area: card1; }

.card-2 {
  grid-area: card2; }

.card-3 {
  grid-area: card3; }

.card-4 {
  grid-area: card4; }

.card-5 {
  grid-area: card5; }

.card-6 {
  grid-area: card6; }

/*# sourceMappingURL=main.css.map */
