// card 1 
#card-container {
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6 {
    position: relative;
    width: 50rem;
    height: 25rem;
    background: black;
    overflow: hidden;
    margin-top: 3em;
    margin-left: 4em;
}
.img1 {
    width: 100%;
    height: 26rem;
}

.img-2 {
    width: 100%;
    height: 26rem;
}

.img-3 {
    width: 100%;
    height: 26rem;
}
.img-4 {
    width: 100%;
    max-width: 100%;
}
.img-5 {
    margin: 0;
    max-width: 100%;
}

.img-6 {
    margin: 0;
    max-width: 100%;
}

input,
.toggle-1,.toggle-2,.toggle-3,.toggle-4,.toggle-5,.toggle-6 {
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    bottom: 1.25rem;
    right: 1.25rem;
    outline: none;
    z-index: 10;
}
input {
    opacity: 0;
}
.toggle-1, .toggle-2, .toggle-3, .toggle-4, .toggle-5, .toggle-6 {
    pointer-events: none;
    border-radius: 50%; 
    background: rgb(0, 0, 0);
    text-align: center;
    line-height: 3.125rem;
    font-size: 1.625rem;
    box-shadow: 0 0 0 0px #ffffff;
    transition: 0.5s;
    color: white;
    
}
input:checked ~ .toggle-1 {
    box-shadow: 0 0 0 55rem #ffffff7c;
    transform: rotate(225deg);
    
}

.content-1, .content-2, .content-3, .content-4, .content-5, .content-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
    
}


input:checked ~ .content-1 {
    opacity: 1;
    transition-delay: 0.5s;
}
div h2 {
    margin-bottom: 0.3125rem;
    font-size: 2rem;
}
div p {
    margin: 0;
    font-size: 1.5em;
    padding-top: 30px;
}

// 


input:checked ~ .toggle-2 {
    box-shadow: 0 0 0 55rem #ffffffc0;
    transform: rotate(225deg);
}

.imgbox-2,
.content-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input:checked ~ .content-2 {
    opacity: 1;
    transition-delay: 0.5s;
}

// end of the sec box

// start of third box

input {
    opacity: 0;
}

input:checked ~ .toggle-3 {
    box-shadow: 0 0 0 51rem #ffffff9f;
    transform: rotate(225deg);
    
}

.imgbox-3,
.content-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input:checked ~ .content-3 {
    opacity: 1;
    transition-delay: 0.5s;
}
// end of box 3

// start of box 4 

input {
    opacity: 0;
}

input:checked ~ .toggle-4 {
    box-shadow: 0 0 0 51rem #ffffff9f;
    transform: rotate(225deg);
    
}

.imgbox-4,
.content-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input:checked ~ .content-4 {
    opacity: 1;
    transition-delay: 0.5s;
}

// end of box 4

// start of box 5

input {
    opacity: 0;
}
input:checked ~ .toggle-5 {
    box-shadow: 0 0 0 55.25rem #ffffffc2;
    transform: rotate(225deg);
}

.imgbox-5,
.content-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


input:checked ~ .content-5 {
    opacity: 1;
    transition-delay: 0.5s;
}

// end of box 5

input {
    opacity: 0;

}

input:checked ~ .toggle-6 {
    box-shadow: 0 0 0 51rem #ffffff9f;
    transform: rotate(225deg);
    
}

.imgbox-6,
.content-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input:checked ~ .content-6 {
    opacity: 1;
    transition-delay: 0.5s;
}
}