 
 @media screen and (max-width: 600px){
     .contact-form {
         flex-direction: column;
     }
     .msg textarea{
         height: 5rem;
     }
     .input-fields,
     .msg{
         width: 100%;
     }

 }

 