 
 @media screen and (max-width: 375px){
     .contact-form {
         flex-direction: column;
     }
     .msg textarea{
         height: 5rem;
     }
     .input-fields,
     .msg{
         width: 100%;
     }

     .masonry {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 20rem);
            grid-gap: 1rem;
     
     }
 }

 